server:
  port: 0

spring:
  kafka:
    bootstrap-servers:
      - 43.201.99.223:9092
      - 43.201.99.223:19092
      - 43.201.99.223:29092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest